body{
    margin: 0;
}

p {
    margin: 0;
}


.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}
.flex-warp{
    flex-wrap: wrap;
}

.content-center{
    justify-content: center;
}

.align-center{
    align-content: center;
    align-items: center;
}

.justify-around{
    justify-content: space-around;
}

.center-of-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-kanit{
    font-family: 'Kanit', sans-serif;
}
.text-center{
    text-align: center;
}
.header-web{
    background-image: url('../assets/img/bg.svg');

    background-repeat: no-repeat;
    background-size: cover;

    background-position: center 70%;
}

.header-title{
    background-color: rgba(12, 12, 12, 0.1);

    p{
        color: white;
        font-size: 48px;
        font-weight: 500;

        border: 5px;
        text-shadow: 0 0 10px #000000, 0 0 10px #000000; 
    }
}

.navbar{
    background-color: rgba(12, 12, 12, 0.9);
}

.navbar-item{
    height: 100%;

    display: flex;
    align-content: center;
    align-items: center;
    color: white;

    padding-left: 16px;
    padding-right: 16px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    text-decoration: none;
    p {
        font-size: 24px;
        font-weight: 500;

    }
    i {
        font-size: 20px;
        margin-right: 8px;
    }
}

.navbar-item:hover{

    background-color: rgba(255, 255, 255, 0.9);
    p {
        color: #0a0a0a;
    }
    i {
        color: #0a0a0a;
    }
}

.item-flex{
    width: 30%;
}

.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 12px;

    padding: 16px;
}

.card-title{
    font-size: 30px;
    margin-bottom: 16px;
    font-weight: 500;
}

.card-text{
    font-size: 18px;
    margin-top: 24px;
    text-align:justify;
}

.footer{
    border-style: solid;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    text-decoration: none;

    width: 99dvw;
}

@media screen and (max-width: 950px) {
    .item-flex{
        width: 94%;

        margin-top: 16px;
        margin-bottom: 16px;
    }

    .footer{
        width: 96dvw;
    }
}